<html>
    <head>
        <title>Senha Incorreta</title>
        <script>
            alert("Senha incorreta")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>