
<section class="criar-sala">
        <h2>Crie sua própria sala</h2>
        <form action="/create-room" method="POST">
            <label class="sr-only" for="room-id">Código da Sala</label>
            <input placeholder="Insira uma senha" name="password" id="room-id" type="number">
            <button>
                <img src="images/users-white.svg" alt="Criar uma sala">  Criar sala
            </button>
        </form>
</section>
      