<section>
    <h2>Entre como participante</h2>
    <form action="/enter-room" method="POST">
        <label class="sr-only" for="room-id">Código da Sala</label>
        <input id="room-id" name="roomId" type="number">
        <button>
            <img src="images/enter-room-img.svg" alt="Entrar Em uma sala">     Entrar na sala
        </button>
    </form>
</section>
<div class="separator">
   <div class="line"></div>
   <div class="ou"> ou</div>
   <div class="line"></div>
</div>
<section>
    <h2>Crie sua própria sala de forma fácil</h2>
    <a class="button outlined" href="/create-pass">
        <img src="images/users.svg" alt="Criar Sala">
         Criar Sala
    </a>
</section>